p {
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    transition: none;
    appearance: textfield;
    appearance: textfield;
    appearance: textfield;
    appearance: textfield;
    appearance: textfield;
    appearance: textfield;
    appearance: textfield;
    appearance: textfield;
    appearance: textfield;
    appearance: textfield;
}
